* {
  box-sizing: border-box;  
}

html {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

body{
  font-family: 'Exo 2', sans-serif; 
}

.App {
  text-align: center;
  max-width: 1140px ;
  width: 100%;

  margin: 0 auto;
}


.Header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
  width: 100%;
}

.Header .kitt-logo {
  width: 180px;
}

.Header .search {
  width: 500px;
  padding: 5px 10px;
  font-size: 1.1rem;
}


/* Pages ---------------------------------------------------- */
/* Home Page ------------------------------------------------ */

.Home{
  width: 100%;
}

/* Search Page ---------------------------------------------- */

.Search {
  width: 100%;;
}

.Search .search-collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}


/* Modal Style ------------------------------------------ */
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.Modal .outer {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.Modal .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  z-index: 999;
  padding: 20px;

  position: relative;
}

.Modal .close {
  position: absolute;
  z-index: 99999;
  font-size: 30px;
  line-height: 30px;
  width: 35px;
  height: 35px;
  top: 3%;
  right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid black;
  font-family: sans-serif;
  cursor: pointer;
}

/* Modal: ProductShow ------------------------------------------ */
.ProductShow .inner {
  width: 60vw;
  height: 70vh;
}

.ProductShow .inner .image-box img {
  /* width: 400px; */
  height: 400px;
}

.ProductShow .info-box {
  height: 400px;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
}

.ProductShow .info-box h2 {
  margin-top: 0;
}

.ProductShow .info-box .description {
  padding: 0 30px;
}

.ProductShow .pylon {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.ProductShow .pylon img {
  width: 90px;
  height: auto;
}

.ProductShow .button-group {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}


.ProductShow .purchase-btn {
  border: 1px solid black;
  box-shadow: 0 4px 0 black;
  border-radius: 5px;
  background-color: #FFF200;
  padding: 10px;
  width: 140px;
  font-size: 1.2rem;
  outline: none;
}

.ProductShow .purchase-btn:hover {
  background-color: #e6da00;
}

.ProductShow .purchase-btn:active {
  background-color: #c4ba00;
  box-shadow: 0 2px 0 black;
  transform: translateY(2px)
}

/* Modal: Purchase ------------------------------------------ */
.Purchase .inner {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height:40vh;
}

.Purchase h2 {
  font-size: 1.9rem;
}

.Purchase .inner img {
  height: 25px;
}

.Purchase .confirm-button {
  border: 1px solid black;
  box-shadow: 0 4px 0 black;
  border-radius: 5px;
  background-color: rgb(55, 206, 55);
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: 600;
  outline: none;
}

.Purchase .confirm-button:hover {
  background-color: rgb(41, 163, 41);
}

.Purchase .confirm-button:active {
  background-color: rgb(38, 128, 38);
  box-shadow: 0 2px 0 black;
  transform: translateY(2px)
}

/* Modal: Status -------------------------------------------- */
.Status .inner {
  width: 50vw;
  height: 50vh;
  flex-direction: column;
}

.droneImage{
  position: absolute;
  left: 0;
  background-color: red;
  width: 10em;
  height: 10em;
  display: block;
	top: 0;
  
  x-transition: all 10s ease-in-out;
  animation: ani 5s infinite;
}

.droneBox{
  position: relative;
  overflow: show;
  width: 600px;
  height: 5.5em;
  background-color: white;
  margin: auto;
}

@keyframes ani {
  0% {
    left: 0;
  }
  60% {
    left: 450px;
  }
  100% {
    left: 0;
  }
}

/* Components ----------------------------------------------- */
/* KittDude ------------------------------------------------- */
.KittDude img {
  width: 200px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-57px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Carousel Component --------------------------------------- */
.Carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.Carousel .collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Card Component ------------------------------------------- */
.Card {
  border: 1px solid black;
  border-radius: 10px;
  width: 20%; 
  height: 150px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Card .card-img img {
  max-width: 100px;
  max-height: 150px;
}

/* Money Component ------------------------------------------ */
.Money {
  border: 3px solid black;
  border-radius: 5px;
  width: 200px;
  padding: 5px 10px;
  text-align: right;
  display: flex;
  justify-content: space-between;
}



.Money img {
  height: 25px;
  text-align: center;
}

.Money h3 h2 {
  margin: 0;
}

/* LoadingPage ---------------------------------------------- */
.LoadingPage {
  position: absolute;
  width: 100vw;
  height: 100vw;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #ffffff;
}

.load-images {
  position: relative;
  width: 20em;
  margin: 80px auto 0;
}

.loaderBox {
  margin: 0 auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ed1c24;
  border-bottom: 16px solid #2e3194;
  width: 20em;
  height: 20em;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2.5s linear infinite;
}

.load-images .KittDude {
  position: absolute;
  top: 15%;
  left: 21%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

.homeMoneyProduct{
  display: relative; 
  width: 1em; 
  height: 1em;
  bottom: 5em; 
}

